.imgsize{
    margin-left: 40%;
    margin-right: 10%;
}
.Img1{
    margin-left: 20%;
    height: 100px;
}
.Img2{
   margin-top: 40%;
   margin-left: 10%;
height: 100px;
    
}
.margintr{
text-align: center;
margin-left: 10%;

}
.textcol{
    color: gainsboro;
}
.infotag{
  margin-top: -2%;
 background-color: whitesmoke;
 width: 96%;
 margin-left: 2%;
 margin-right: 2%;
 border: 4px solid #eee;
 text-align: center;
}
.navDiv{
    background-color: whitesmoke;  
}
.BgImage{
    background-image: url('../../../Image/bg2.jpg');
    height: 250px;
    background-repeat: no-repeat;
    background-size: auto;
    
}
.DashBoard{
margin-left:80px;
width:100%;

}
.td2{
height: 100%;
}
.DashBoardcolor{
text-align: center;
color: darkmagenta;
border-bottom: 5px solid  darkmagenta;
height:120px;
}

